@using System.Text
@model CabinetViewModel
<link rel="stylesheet" type="text/css" href="css/cabinet.css">

<link rel="stylesheet" type="text/css" href="css/modal_window.css">

<link rel="stylesheet" type="text/css" href="css/user_border.css">

<link rel="stylesheet" type="text/css" href="css/user_edit_popup.css">

<link rel="stylesheet" type="text/css" href="css/user_info_popup.css">

<link rel="stylesheet" type="text/css" href="css/toast.css">

<div class="maintenance">
    @{
        if (User.IsInRole("Admin"))
        {
                <div class="users_board">
                    <div class="users_board_box">
                        <div class="board_box_header">
                            <div class="board_name">
                                <p>USERS BOARD</p>
                            </div>
                        </div>
                        <div class="board_createuser">
                            <div class="change_blocks">
                                <div class="change_block">
                                    <div class="submit_button">
                                        <input id="createUserModal" type="submit" value="Create user">
                                    </div>
                                </div>
                                <div class="change_block">
                                    <div class="submit_button">
                                        <input  id="createLessonModal" type="submit" value="Create lesson">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="board_list">
                            <li class="list_li_box naming">
                                <div class="user_name"> <p>User Login</p> </div>
                                <div class="user_role"> <p>User Role</p> </div>
                                <div class="user_gap"></div>
                                <div class="user_gap"></div>
                            </li>
                            <ul class="list_ul">
                                @{
                                foreach (var user in Model.UserViewModels)
                                {
                                            <li class="list_li_box">
                                                <div class="user_name"> <p>@user.UserName</p> </div>
                                                <input id="Board_@user.UserName" maxlength="25" type="text" name="Board_@user.UserName" value="@user.UserName" hidden disabled>
                                                <div class="user_role"> <p>@user.Role</p> </div>
                                                <div class="user_gap"></div>
                                                <div class="user_buttons">
                                                    <input onclick="EditUserModal('@user.UserName')" id="editUserModal" type="submit" value="📝">
                                                    <input onclick="CheckUserModal('@user.UserName','@user.Role')" id="checkUserModal" type="submit" value="🔎">
                                                    <input onclick="DeleteUser('@user.UserName')" id="deleteUser" type="submit" value="❌">
                                                </div>
                                            </li>
                                }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
        }
        else
        {
                <div class="users_board">
                    <div class="users_board_box">
                        <div>
                            <div>
                                <div class="user_info_popup">
                                    <div class="user_info_popup_box">
                                        <div class="user_info">
                                            <div class="header_name">
                                                <p>USER INFO</p>
                                            </div>
                                            <div class="user_info_box">
                                                <div class="info_box">
                                                    <div class="box_inside">
                                                        <div class="_userinfo">
                                                            <p>User name</p>
                                                        </div>
                                                        <div id="userinfo_username_id" class="userinfo">
                                                            <p>@User.Identity.Name</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="info_box">
                                                    <div class="box_inside">
                                                        <div class="_userinfo">
                                                            <p>User role</p>
                                                        </div>
                                                        <div id="userinfo_userrole_id" class="userinfo">
                                                            <p>@Model.UserViewModels.Where(u=>u.UserName == User.Identity.Name).FirstOrDefault().Role</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user_lessons">
                                            <div class="users_board">
                                                <div class="users_board_box">
                                                    <div class="board_box_header">
                                                        <div class="boarded_name">
                                                            <p>USER'S LESSONS BOARD</p>
                                                        </div>
                                                    </div>
                                                    <div class="board_list_info">
                                                        <li class="list_li_box naming">
                                                            <div class="user_name"> <p>Lesson name</p> </div>
                                                            <div class="user_gap"></div>
                                                            <div class="user_gap"></div>
                                                            <div class="user_reg"> <p>Join / Left lesson</p> </div>
                                                        </li>
                                                        <ul class="list_ul" id="list_ul_lessons_id">
                                                        @{
                                                        foreach (var model in Model.LessonViewModels) 
                                                        {
                                                                    <li class="list_li_box">
                                                                        <div class="user_name"> <p>@(model.LessonName)</p> </div>
                                                                        <div class="user_role"></div>
                                                                        <div class="user_gap"></div>
                                                                        <div class="user_buttons">
                                                                        @if(Model.UserViewModels.Where(u=>u.UserName == User.Identity.Name).FirstOrDefault().Lessons.Where(l=>l.LessonName == model.LessonName).FirstOrDefault() != null)
                                                                {
                                                                            <input onclick="LeftFromLesson('@(model.LessonName)')" type="checkbox" checked>    
                                                                }
                                                                else
                                                                {
                                                                            <input onclick="JoinToLesson('@(model.LessonName)')" type="checkbox">    
                                                                }
                                                                        </div>
                                                                    </li>
                                                        }
                                                        }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        }
    }
</div>

<div id="_createUserModal" class="mymodal">
    <div class="modal-content">
        <div class="modal-header displayblock">
            <div id="close_createUserModal" class="close">&times;</div>
            <h2>Creating user: </h2>
        </div>
        <div class="modal-body">

            <div class="user_edit_popup">
                <div class="edit_popup_box">
                    <div class="header_name">
                        <p>Create User Form</p>
                    </div>
                    <div class="edit_popup_box_center">
                        <form id="createUserForm" class="g-3 col-sm-12 rounded p-4 needs-validation" novalidate>
                          <div class="col justify-content-center p-2 align-self-center">
                            <label for="validationCustomUsername" class="form-label">Username</label>
                            <div class="input-group has-validation">
                              <input type="text" class="form-control" pattern="^[\w0-9]{5,25}$" id="validationCustomUsername" aria-describedby="inputGroupPrepend" placeholder="Enter username" name="username" required>
                              <div class="invalid-feedback">
                                Please use A-z, 0-9 minimum 5 symbols.
                              </div>
                            </div>
                          </div>
                          <div class="col justify-content-center p-2 align-self-center">
                            <label for="validationCustomPassword" class="form-label">Password:</label>
                            <input type="password" pattern="^(?=.*[0-9])(?=.*[!#$%^&*{}\[\]])[a-zA-Z0-9!#$%^&*{}\[\]]{8,25}$" class="form-control" id="validationCustomPassword" placeholder="Enter password" name="pswd" required>
                            <div class="invalid-feedback">Please use A-z, 0-9, !#$%^&*{}[] minimum 8 symbols.</div>
                          </div>
                          <div class="col justify-content-center p-2 align-self-center">
                            <label for="validationCustomRole" class="form-label">Role:</label>
                            <select class="form-select" id="validationCustomRole" required>
                              <option selected disabled value="">Choose...</option>
                               @{
                                    foreach (var role in @Model.Roles) 
                                    {
                                            <option value="@role">@role</option>
                                    }
                                }
                            </select>
                            <div class="invalid-feedback">
                              Please select a valid state.
                            </div>
                          </div>
                          <div class="submit_button button_center">
                                <input id="createUserForm_submit" type="submit" value="Create user"/>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="_editUserModal" class="mymodal">
  <div class="modal-content">
    <div class="modal-header displayblock">
      <div id="close_editUserModal" class="close">&times;</div>
      <h2>Editing user: </h2>
    </div>
    <div class="modal-body">
      
        <div class="user_edit_popup">
            <div class="edit_popup_box">
                <div id="edit_header_name_id" class="header_name">
                <!--UserName-->
                </div>
                <div class="change_blocks">
                    <div class="change_block">
                        <form id="editPassUserForm" class="g-3 col-sm-12 rounded p-4 needs-validation" novalidate>
                            <div class="col justify-content-center p-2 align-self-center">
                                <label for="validationCustomPassword" class="form-label">New Password:</label>
                                <input type="password" pattern="^(?=.*[0-9])(?=.*[!#$%^&*{}\[\]])[a-zA-Z0-9!#$%^&*{}\[\]]{8,25}$" class="form-control" id="validationCustomNewPassword" placeholder="Enter password" name="pswd" required>
                                <div class="invalid-feedback">Please use A-z, 0-9, !#$%^&*{}[] minimum 8 symbols.</div>
                            </div>
                            <div id="edit_changepassword_id" class="submit_button">
                            <!--inputChangePassword-->
                            </div>
                        </form>
                    </div>
                    <div class="change_block">
                    <form id="editRoleUserForm" class="g-3 col-sm-12 rounded p-4 needs-validation" novalidate>
                        <div class="col justify-content-center p-2 align-self-center">
                        <label for="validationCustomEditRole" class="form-label">Role:</label>
                        <select class="form-select" id="validationCustomEditRole" required>
                            <option selected disabled value="">Choose...</option>
                            @{
                                foreach (var role in @Model.Roles) 
                                {
                                        <option value="@role">@role</option>
                                }
                            }
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        </div>
                        <div id="edit_changerole_id" class="submit_button button_center">
                            <!--inputChangeRole-->
                        </div>
                    </form>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="_checkUserModal" class="mymodal">
    <div class="modal-content">
        <div class="modal-header displayblock">
            <div id="close_checkUserModal" class="close">&times;</div>
            <h2>User Info: </h2>
        </div>
        <div class="modal-body">

            <div class="user_info_popup">
                <div class="user_info_popup_box">
                    <div class="user_info">
                        <div class="header_name">
                            <p>USER INFO</p>
                        </div>
                        <div class="user_info_box">
                            <div class="info_box">
                                <div class="box_inside">
                                    <div class="_userinfo">
                                        <p>User name</p>
                                    </div>
                                    <div id="userinfo_username_id" class="userinfo">

                                    </div>
                                </div>
                            </div>
                            <div class="info_box">
                                <div class="box_inside">
                                    <div class="_userinfo">
                                        <p>User role</p>
                                    </div>
                                    <div id="userinfo_userrole_id" class="userinfo">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_lessons">
                        <div class="users_board">
                            <div class="users_board_box">
                                <div class="board_box_header">
                                    <div class="boarded_name">
                                        <p>USER'S LESSONS BOARD</p>
                                    </div>
                                </div>
                                <div class="board_list_info">
                                    <li class="list_li_box naming">
                                        <div class="user_name"> <p>Lesson name</p> </div>
                                        <div class="user_gap"></div>
                                        <div class="user_gap"></div>
                                        <div class="user_reg"> <p>Join / Left lesson</p> </div>
                                    </li>
                                    <ul class="list_ul" id="list_ul_lessons_id">
                                        @{
                                            foreach (var model in Model.LessonViewModels) 
                                            {
                                                    <li class="list_li_box">
                                                        <div class="user_name"> <p>@(model.LessonName)</p> </div>
                                                        <div class="user_role"></div>
                                                        <div class="user_gap"></div>
                                                        <div class="user_buttons" id="user_buttons_@(model.LessonName)_id">
                                                            <input onclick="DeleteLesson('@(model.LessonName)')" id="id_@(model.LessonName)_deletelesson" type="submit" value="❌">
                                                        </div>
                                                    </li>
                                            }
                                        }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>

<div id="_createLessonModal" class="mymodal">
    <div class="modal-content">
        <div class="modal-header displayblock">
            <div id="close_createLessonModal" class="close">&times;</div>
            <h2>Creating lesson: </h2>
        </div>
        <div class="modal-body">
            <div class="edit_popup_box_center">
                <form id="createLessonForm" class="g-3 col-sm-12 rounded p-4 needs-validation" novalidate>
                    <div class="col p-2 align-self-center">
                        <label for="validationCustomLessonname" class="form-label">Lessonname</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" pattern="^[A-z0-9]{3,25}$" id="validationCustomLessonname" aria-describedby="inputGroupPrepend" placeholder="Enter lessonname" name="Lessonname" required>
                            <div class="invalid-feedback">
                            Please use A-z, 0-9 minimum 3 symbols.
                            </div>
                        </div>
                    </div>
                    <div class="col justify-content-center p-2 align-self-center">
                            <label for="validationCustomTeacher" class="form-label">Teacher:</label>
                            <select class="form-select" id="validationCustomTeacher" required>
                            <option selected disabled value="">Choose...</option>
                        @{
                            foreach (var teacher in @Model.UserViewModels) 
                            {
                                if (teacher.Role == "Teacher") 
                                {
                                        <option value="@teacher.UserName">@teacher.UserName</option>
                                }
                            }
                            }
                        </select>
                    </div>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                    <div class="submit_button button_center">
                        <input id="createLessonForm_submit" type="submit" value="Create lesson"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="mi-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm your action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal_body_text_id">
        <p id="modal_body_text_p_id">Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-btn-no" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="modal-btn-si" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>



@*            <div class="user_edit_popup">
                <div class="edit_popup_box">
                    <div class="header_name">
                        <p>Create lesson form</p>
                    </div>
                    <div class="change_blocks">
                        <div class="change_block">
                            <div class="input_block">
                                <label for="CreateLessonName">Lesson name:</label>
                                <input id="CreateLessonName" name="CreateLessonName" maxlength="25" type="text">
                            </div>
                            <div class="input_block">
                                <label for="CreateTeacher">Teacher:</label>
                                <select id="CreateTeacher" name="CreateTeacher">
                                @{
                                    foreach (var teacher in @Model.UserViewModels) 
                                    {
                                        if (teacher.Role == "Teacher") 
                                        {
                                            <option value="@teacher.UserName">@teacher.UserName</option>
                                        }
                                    }
                                 }
                                </select>
                            </div>
                            <div class="submit_button">
                                <input onclick="CreateLesson(document.getElementById('CreateLessonName').value, document.getElementById('CreateTeacher').value)" type="submit" value="Create lesson">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="maintenance_blocks">
    @{
        if (User.IsInRole("Admin"))
        {

    <div class="maintenance_block">
        <div class="form">
            <div class="name_block">
                <label class="fs_0.9vw">CREATE & UPDATE USER</label>
            </div>
            <div class="input_block">
                <label for="CoULogin">UserName:</label>
                <input id="CoULogin" maxlength="25" type="text" name="CoULogin">
            </div>
            <div class="input_block">
                <label for="CoUPassword">Password:</label>
                <input id="CoUPassword" maxlength="25" type="text" name="CoUPassword">
            </div>
            <div class="input_block">
                <label for="CoURole">Role:</label>
                <select id="CoURole" name="CoURole">
                    <option value="Admin">Admin</option>
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                </select>
            </div>
            <div class="submit_button">
                <input onclick="CreateOrUpdateUser(document.getElementById('CoULogin').value, document.getElementById('CoUPassword').value, document.getElementById('CoURole').value)" type="submit" value="CREATE USER">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form">
            <div class="name_block">
                <label class="fs_0.9vw">DELETE USER</label>
            </div>
            <div class="input_block">
                <label for="DelULogin">Choose user:</label>
                <select id="DelULogin" name="Login">
                    @{
                        if (Model != null && Model.UserViewModels != null) 
                        {
                            foreach (var user in Model.UserViewModels)
                            {
                                <option value="@user.UserName">@user.UserName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="DeleteUser(document.getElementById('DelULogin').value)" type="submit" value="DELETE USER">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form">
            <div class="name_block">
                <label class="fs_0.9vw">CREATE LESSON</label>
            </div>
            <div class="input_block">
                <label for="CrLessonName">Lesson name:</label>
                <input id="CrLessonName" maxlength="25" type="text" name="CrLessonName">
            </div>
            <div class="input_block">
                <label for="CrLogin">Choose teacher:</label>
                <select id="CrLogin" name="CrLogin">
                    @{
                        if (Model != null && Model.UserViewModels != null) 
                        {
                            
                            foreach (var user in Model.UserViewModels)
                            {
                                if(user.Role == "Teacher")
                                {
                                    <option value="@user.UserName">@user.UserName</option>
                                }
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="CreateLesson(document.getElementById('CrLessonName').value, document.getElementById('CrLogin').value)" type="submit" value="CREATE LESSON">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">DELETE LESSON</label>
            </div>
            <div class="input_block">
                <label for="DelLessonName">Choose Lesson:</label>
                <select id="DelLessonName" name="DelLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var lesson in Model.LessonViewModels)
                            {
                                <option value="@lesson.LessonName">@lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="DeleteLesson(document.getElementById('DelLessonName').value)" type="submit" value="DELETE LESSON">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">ADD USER TO LESSON</label>
            </div>
            <div class="input_block">
                <label for="AddULLessonName">Choose Lesson:</label>
                <select id="AddULLessonName" name="AddULLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var Lesson in Model.LessonViewModels)
                            {
                                <option value="@Lesson.LessonName">@Lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="input_block">
                <label for="AddULLogin">Choose user:</label>
                <select id="AddULLogin" name="AddULLogin">
                    @{
                        if (Model != null && Model.UserViewModels != null) 
                        {
                            foreach (var user in Model.UserViewModels)
                            {
                                <option value="@user.UserName">@user.UserName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="AddUserToLesson(document.getElementById('AddULLessonName').value, document.getElementById('AddULLogin').value)" type="submit" value="ADD USER">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">DELETE USER FROM LESSON</label>
            </div>
            <div class="input_block">
                <label for="DelUFLLessonName">Choose Lesson:</label>
                <select id="DelUFLLessonName" name="DelUFLLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var lesson in Model.LessonViewModels)
                            {
                                <option value="@lesson.LessonName">@lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="input_block">
                <label for="DelUFLLogin">Choose user:</label>
                <select id="DelUFLLogin" name="DelUFLLogin">
                    @{
                        if (Model != null && Model.UserViewModels != null) 
                        {
                            foreach (var user in Model.UserViewModels)
                            {
                                <option value="@user.UserName">@user.UserName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="DelUserFromLesson(document.getElementById('DelUFLLessonName').value, document.getElementById('DelUFLLogin').value)" type="submit" value="REMOVE USER">
            </div>
        </div>
    </div>
    }
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">JOIN TO LESSON</label>
            </div>
            <div class="input_block">
                <label for="JoinLessonName">Choose Lesson:</label>
                <select id="JoinLessonName" name="JoinLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var lesson in Model.LessonViewModels)
                            {
                                <option value="@lesson.LessonName">@lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="JoinToLesson(document.getElementById('JoinLessonName').value)" type="submit" value="JOIN TO LESSON">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">LEFT LESSON</label>
            </div>
            <div class="input_block">
                <label for="LeftLessonName">Choose Lesson:</label>
                <select id="LeftLessonName" name="LeftLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var lesson in Model.LessonViewModels)
                            {
                                <option value="@lesson.LessonName">@lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="LeftFromLesson(document.getElementById('LeftLessonName').value)" type="submit" value="LEFT LESSON">
            </div>
        </div>
    </div>
    }
</div>*@
<script type="text/javascript" src="js/modal_window.js"></script>
<script type="text/javascript" src="js/cabinet.js"></script>
<script type="text/javascript" src="js/toast.js"></script>