@model CabinetViewModel
<link rel="stylesheet" type="text/css" href="css/cabinet.css">
<div class="maintenance_blocks">
    @{
        if (User.IsInRole("Admin"))
        {

    <div class="maintenance_block">
        <div class="form">
            <div class="name_block">
                <label class="fs_0.9vw">CREATE & UPDATE USER</label>
            </div>
            <div class="input_block">
                <label for="CoULogin">UserName:</label>
                <input id="CoULogin" maxlength="25" type="text" name="CoULogin">
            </div>
            <div class="input_block">
                <label for="CoUPassword">Password:</label>
                <input id="CoUPassword" maxlength="25" type="text" name="CoUPassword">
            </div>
            <div class="input_block">
                <label for="CoURole">Role:</label>
                <select id="CoURole" name="CoURole">
                    <option value="Admin">Admin</option>
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                </select>
            </div>
            <div class="submit_button">
                <input onclick="CreateOrUpdateUser(document.getElementById('CoULogin').value, document.getElementById('CoUPassword').value, document.getElementById('CoURole').value)" type="submit" value="CREATE USER">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form">
            <div class="name_block">
                <label class="fs_0.9vw">DELETE USER</label>
            </div>
            <div class="input_block">
                <label for="DelULogin">Choose user:</label>
                <select id="DelULogin" name="Login">
                    @{
                        if (Model != null && Model.UserViewModels != null) 
                        {
                            foreach (var user in Model.UserViewModels)
                            {
                                <option value="@user.UserName">@user.UserName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="DeleteUser(document.getElementById('DelULogin').value)" type="submit" value="DELETE USER">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form">
            <div class="name_block">
                <label class="fs_0.9vw">CREATE LESSON</label>
            </div>
            <div class="input_block">
                <label for="CrLessonName">Lesson name:</label>
                <input id="CrLessonName" maxlength="25" type="text" name="CrLessonName">
            </div>
            <div class="input_block">
                <label for="CrLogin">Choose teacher:</label>
                <select id="CrLogin" name="CrLogin">
                    @{
                        if (Model != null && Model.UserViewModels != null) 
                        {
                            
                            foreach (var user in Model.UserViewModels)
                            {
                                if(user.Role == "Teacher")
                                {
                                    <option value="@user.UserName">@user.UserName</option>
                                }
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="CreateLesson(document.getElementById('CrLessonName').value, document.getElementById('CrLogin').value)" type="submit" value="CREATE LESSON">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">DELETE LESSON</label>
            </div>
            <div class="input_block">
                <label for="DelLessonName">Choose Lesson:</label>
                <select id="DelLessonName" name="DelLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var lesson in Model.LessonViewModels)
                            {
                                <option value="@lesson.LessonName">@lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="DeleteLesson(document.getElementById('DelLessonName').value)" type="submit" value="DELETE LESSON">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">ADD USER TO LESSON</label>
            </div>
            <div class="input_block">
                <label for="AddULLessonName">Choose Lesson:</label>
                <select id="AddULLessonName" name="AddULLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var Lesson in Model.LessonViewModels)
                            {
                                <option value="@Lesson.LessonName">@Lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="input_block">
                <label for="AddULLogin">Choose user:</label>
                <select id="AddULLogin" name="AddULLogin">
                    @{
                        if (Model != null && Model.UserViewModels != null) 
                        {
                            foreach (var user in Model.UserViewModels)
                            {
                                <option value="@user.UserName">@user.UserName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="AddUserToLesson(document.getElementById('AddULLessonName').value, document.getElementById('AddULLogin').value)" type="submit" value="ADD USER">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">DELETE USER FROM LESSON</label>
            </div>
            <div class="input_block">
                <label for="DelUFLLessonName">Choose Lesson:</label>
                <select id="DelUFLLessonName" name="DelUFLLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var lesson in Model.LessonViewModels)
                            {
                                <option value="@lesson.LessonName">@lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="input_block">
                <label for="DelUFLLogin">Choose user:</label>
                <select id="DelUFLLogin" name="DelUFLLogin">
                    @{
                        if (Model != null && Model.UserViewModels != null) 
                        {
                            foreach (var user in Model.UserViewModels)
                            {
                                <option value="@user.UserName">@user.UserName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="DelUserFromLesson(document.getElementById('DelUFLLessonName').value, document.getElementById('DelUFLLogin').value)" type="submit" value="REMOVE USER">
            </div>
        </div>
    </div>
    }
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">JOIN TO LESSON</label>
            </div>
            <div class="input_block">
                <label for="JoinLessonName">Choose Lesson:</label>
                <select id="JoinLessonName" name="JoinLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var lesson in Model.LessonViewModels)
                            {
                                <option value="@lesson.LessonName">@lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="JoinToLesson(document.getElementById('JoinLessonName').value)" type="submit" value="JOIN TO LESSON">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">LEFT LESSON</label>
            </div>
            <div class="input_block">
                <label for="LeftLessonName">Choose Lesson:</label>
                <select id="LeftLessonName" name="LeftLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var lesson in Model.LessonViewModels)
                            {
                                <option value="@lesson.LessonName">@lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="LeftFromLesson(document.getElementById('LeftLessonName').value)" type="submit" value="LEFT LESSON">
            </div>
        </div>
    </div>
    }
</div>
<script type="text/javascript" src="js/cabinet.js"></script>