@model CabinetViewModel
<link rel="stylesheet" type="text/css" href="css/cabinet.css">

<link rel="stylesheet" type="text/css" href="css/modal_window.css">

<link rel="stylesheet" type="text/css" href="css/user_border.css">

<link rel="stylesheet" type="text/css" href="css/user_edit_popup.css">

<link rel="stylesheet" type="text/css" href="css/user_info_popup.css">

<div class="maintenance">
    <div class="users_board">
        <div class="users_board_box">
            <div class="board_box_header">
                <div class="board_name">
                    <p>USERS BOARD</p>
                </div>
            </div>
            <div class="board_createuser">
                <div class="change_blocks">
                    <div class="change_block">
                        <div class="submit_button">
                            <input id="createUserModal" type="submit" value="Create user">
                        </div>
                    </div>
                </div>
            </div>
            <div class="board_list">
                <li class="list_li_box naming">
                    <div class="user_name"> <p>User Login</p> </div>
                    <div class="user_role"> <p>User Role</p> </div>
                    <div class="user_gap"></div>
                    <div class="user_gap"></div>
                </li>
                <ul class="list_ul">
                    @{
                        foreach (var user in Model.UserViewModels) 
                        {
                            <li class="list_li_box">
                                <div class="user_name"> <p>@user.UserName</p> </div>
                                <input id="BoardUserName" maxlength="25" type="text" name="BoardUserName" value="@user.UserName" hidden disabled>
                                <div class="user_role"> <p>@user.Role</p> </div>
                                <div class="user_gap"></div>
                                <div class="user_buttons">
                                    <input id="editUserModal" type="submit" value="📝">
                                    <input id="checkUserModal" type="submit" value="🔎">
                                    <input onclick="DeleteUser(document.getElementById('BoardUserName').value)" id="deleteUser" type="submit" value="❌">
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="_createUserModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <div id="close_createUserModal" class="close">&times;</div>
      <h2>Creating user: </h2>
    </div>
    <div class="modal-body">
      
    <div class="user_edit_popup">
      <div class="edit_popup_box">
            <div class="header_name">
                <p>Create user form</p>
            </div>
            <div class="change_blocks">
                <div class="change_block">
                    <div class="input_block">
                        <label for="CreateUserName">User name:</label>
                        <input id="CreateUserName" name="CreateUserName" maxlength="25" type="text">
                    </div>
                    <div class="input_block">
                        <label for="CreatePassword">New password:</label>
                        <input id="CreatePassword" name="CreatePassword" maxlength="25" type="text">
                    </div>
                    <div class="input_block">
                        <label for="CreateRole">Role:</label>
                        <select id="CreateRole" name="CreateRole">
                            <option value="Admin">Admin</option>
                            <option value="Student">Student</option>
                            <option value="Teacher">Teacher</option>
                        </select>
                    </div>
                    <div class="submit_button">
                        <input onclick="CreateOrUpdateUser(document.getElementById('CreateUserName').value, document.getElementById('CreatePassword').value, document.getElementById('CreateRole').value)" type="submit" value="Create user">
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
  </div>
</div>

<div id="_editUserModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <div id="close_editUserModal" class="close">&times;</div>
      <h2>Editing user: </h2>
    </div>
    <div class="modal-body">
      
        <div class="user_edit_popup">
            <div class="edit_popup_box">
                <div class="header_name">
                    <p>DOKERcom</p>
                </div>
                <div class="change_blocks">
                    <div class="change_block">
                        <div class="input_block">
                            <label for="EditPassword">New password:</label>
                            <input id="EditPassword" name="EditPassword" maxlength="25" type="text">
                        </div>
                        <div class="input_block">
                            <label for="EditConfPassword">Confirm password:</label>
                            <input id="EditConfPassword" name="EditConfPassword" maxlength="25" type="text">
                        </div>
                        <div class="submit_button">
                            <input type="submit" value="Change password">
                        </div>
                    </div>
                    <div class="change_block">
                        <div class="input_block">
                            <label for="EditRole">Role:</label>
                            <select id="EditRole" name="EditRole">
                                <option value="Admin">Admin</option>
                                <option value="Student">Student</option>
                                <option value="Teacher">Teacher</option>
                            </select>
                        </div>
                        <div class="submit_button">
                            <input type="submit" value="Change role">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>

<div id="_checkUserModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <div id="close_checkUserModal" class="close">&times;</div>
      <h2>User Info: </h2>
    </div>
    <div class="modal-body">

        <div class="user_info_popup">
            <div class="user_info_popup_box">
                <div class="user_info">
                    <div class="header_name">
                        <p>USER INFO</p>
                    </div>
                    <div class="user_info_box">
                        <div class="info_box">
                            <div class="box_inside">
                                <div class="_userinfo">
                                    <p>User name</p>
                                </div>
                                <div class="userinfo">
                                    <p>DOKERcom</p>
                                </div>
                            </div>
                        </div>
                        <div class="info_box">
                            <div class="box_inside">
                                <div class="_userinfo">
                                    <p>User role</p>
                                </div>
                                <div class="userinfo">
                                    <p>Admin</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user_lessons">
                    <div class="users_board">
                        <div class="users_board_box">
                            <div class="board_box_header">
                                <div class="boarded_name">
                                    <p>USER'S LESSONS BOARD</p>
                                </div>
                            </div>
                            <div class="board_list_info">
                                <li class="list_li_box naming">
                                    <div class="user_name"> <p>Lesson name</p> </div>
                                    <div class="user_gap"></div>
                                    <div class="user_gap"></div>
                                    <div class="user_reg"> <p>Join / Left lesson</p> </div>
                                </li>
                                <ul class="list_ul">
                                    <li class="list_li_box">
                                        <div class="user_name"> <p>Physics</p> </div>
                                        <div class="user_role"></div>
                                        <div class="user_gap"></div>
                                        <div class="user_buttons">
                                            <input type="checkbox">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>

@*<div class="maintenance_blocks">
    @{
        if (User.IsInRole("Admin"))
        {

    <div class="maintenance_block">
        <div class="form">
            <div class="name_block">
                <label class="fs_0.9vw">CREATE & UPDATE USER</label>
            </div>
            <div class="input_block">
                <label for="CoULogin">UserName:</label>
                <input id="CoULogin" maxlength="25" type="text" name="CoULogin">
            </div>
            <div class="input_block">
                <label for="CoUPassword">Password:</label>
                <input id="CoUPassword" maxlength="25" type="text" name="CoUPassword">
            </div>
            <div class="input_block">
                <label for="CoURole">Role:</label>
                <select id="CoURole" name="CoURole">
                    <option value="Admin">Admin</option>
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                </select>
            </div>
            <div class="submit_button">
                <input onclick="CreateOrUpdateUser(document.getElementById('CoULogin').value, document.getElementById('CoUPassword').value, document.getElementById('CoURole').value)" type="submit" value="CREATE USER">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form">
            <div class="name_block">
                <label class="fs_0.9vw">DELETE USER</label>
            </div>
            <div class="input_block">
                <label for="DelULogin">Choose user:</label>
                <select id="DelULogin" name="Login">
                    @{
                        if (Model != null && Model.UserViewModels != null) 
                        {
                            foreach (var user in Model.UserViewModels)
                            {
                                <option value="@user.UserName">@user.UserName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="DeleteUser(document.getElementById('DelULogin').value)" type="submit" value="DELETE USER">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form">
            <div class="name_block">
                <label class="fs_0.9vw">CREATE LESSON</label>
            </div>
            <div class="input_block">
                <label for="CrLessonName">Lesson name:</label>
                <input id="CrLessonName" maxlength="25" type="text" name="CrLessonName">
            </div>
            <div class="input_block">
                <label for="CrLogin">Choose teacher:</label>
                <select id="CrLogin" name="CrLogin">
                    @{
                        if (Model != null && Model.UserViewModels != null) 
                        {
                            
                            foreach (var user in Model.UserViewModels)
                            {
                                if(user.Role == "Teacher")
                                {
                                    <option value="@user.UserName">@user.UserName</option>
                                }
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="CreateLesson(document.getElementById('CrLessonName').value, document.getElementById('CrLogin').value)" type="submit" value="CREATE LESSON">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">DELETE LESSON</label>
            </div>
            <div class="input_block">
                <label for="DelLessonName">Choose Lesson:</label>
                <select id="DelLessonName" name="DelLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var lesson in Model.LessonViewModels)
                            {
                                <option value="@lesson.LessonName">@lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="DeleteLesson(document.getElementById('DelLessonName').value)" type="submit" value="DELETE LESSON">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">ADD USER TO LESSON</label>
            </div>
            <div class="input_block">
                <label for="AddULLessonName">Choose Lesson:</label>
                <select id="AddULLessonName" name="AddULLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var Lesson in Model.LessonViewModels)
                            {
                                <option value="@Lesson.LessonName">@Lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="input_block">
                <label for="AddULLogin">Choose user:</label>
                <select id="AddULLogin" name="AddULLogin">
                    @{
                        if (Model != null && Model.UserViewModels != null) 
                        {
                            foreach (var user in Model.UserViewModels)
                            {
                                <option value="@user.UserName">@user.UserName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="AddUserToLesson(document.getElementById('AddULLessonName').value, document.getElementById('AddULLogin').value)" type="submit" value="ADD USER">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">DELETE USER FROM LESSON</label>
            </div>
            <div class="input_block">
                <label for="DelUFLLessonName">Choose Lesson:</label>
                <select id="DelUFLLessonName" name="DelUFLLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var lesson in Model.LessonViewModels)
                            {
                                <option value="@lesson.LessonName">@lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="input_block">
                <label for="DelUFLLogin">Choose user:</label>
                <select id="DelUFLLogin" name="DelUFLLogin">
                    @{
                        if (Model != null && Model.UserViewModels != null) 
                        {
                            foreach (var user in Model.UserViewModels)
                            {
                                <option value="@user.UserName">@user.UserName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="DelUserFromLesson(document.getElementById('DelUFLLessonName').value, document.getElementById('DelUFLLogin').value)" type="submit" value="REMOVE USER">
            </div>
        </div>
    </div>
    }
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">JOIN TO LESSON</label>
            </div>
            <div class="input_block">
                <label for="JoinLessonName">Choose Lesson:</label>
                <select id="JoinLessonName" name="JoinLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var lesson in Model.LessonViewModels)
                            {
                                <option value="@lesson.LessonName">@lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="JoinToLesson(document.getElementById('JoinLessonName').value)" type="submit" value="JOIN TO LESSON">
            </div>
        </div>
    </div>
    <div class="maintenance_block">
        <div class="form" action="" method="post">
            <div class="name_block">
                <label class="fs_0.9vw">LEFT LESSON</label>
            </div>
            <div class="input_block">
                <label for="LeftLessonName">Choose Lesson:</label>
                <select id="LeftLessonName" name="LeftLessonName">
                     @{
                        if (Model != null && Model.LessonViewModels != null) 
                        {
                            foreach (var lesson in Model.LessonViewModels)
                            {
                                <option value="@lesson.LessonName">@lesson.LessonName</option>
                            } 
                        }
                     } 
                </select>
            </div>
            <div class="submit_button">
                <input onclick="LeftFromLesson(document.getElementById('LeftLessonName').value)" type="submit" value="LEFT LESSON">
            </div>
        </div>
    </div>
    }
</div>*@
<script type="text/javascript" src="js/cabinet.js"></script>
<script type="text/javascript" src="js/modal_window.js"></script>